.custom-header {
    padding: 0;
}

.custom-img {
    height: 210px;
    object-fit: cover;
    object-position: 0 0;
}

.custom-title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.rating {
    float: right;
}