.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.profile {
  text-align: center;
  padding: 10px;
}

.profile-item {
  font-size: 25px;
}

.profile-photo {
  margin: 0 auto;
  margin-top: -7vh;
  width: 100px;
}